certifi==2019.3.9
chardet==3.0.4
Click==7.0
dj-database-url==0.5.0
Django==2.1.7
django-widget-tweaks==1.4.3
future==0.17.1
idna==2.8
lark-parser==0.5.6
Markdown==3.1
ply==3.11
popper==2.0.1
pyaes==1.6.1
pyhcl==0.3.12
python-decouple==3.1
pytz==2018.9
PyYAML==5.1
requests==2.21.0
urllib3==1.26.5
